<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{header.title}}
      </h1>
      <h2 class="subtitle">
        {{header.subtitle}}
      </h2>
      <p>
        {{header.description}}
      </p>
    </div>
  </div>
</section>